@use "src/styles/abstracts/constants" as *;
@use "src/styles/abstracts/mixins" as *;

header {
  position: absolute;
  width: 100%;
  height: $header-height;
  z-index: 999;
  @include p-default;
  display: flex;
  justify-content: space-between;
  margin-left: calc(-1 * #{$spacing});
  margin-right: calc(-1 * #{$spacing});

  @include small {
    @include p-default;
  }

  > div {
    width: 70px;
  }

  > a {
    border: none;
  }
}