@import "tailwindcss";
@source "../components/*.{ts,tsx}";
@source "../../../../apps/**/*.{ts,tsx}";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));
@custom-variant mobile {
  @media (hover: none) {
    @slot;
  }
}

:root {
  --background: #f5faff;
  --foreground: #0f1e29;
  --card: radial-gradient(
    at 10% 10%,
    oklch(from var(--secondary) l c h / 0.3),
    oklch(from var(--accent) l c h / 0.1)
  );
  --card-foreground: var(--foreground);
  --popover: #f5faff;
  --popover-foreground: var(--foreground);
  --primary: #1e3f57;
  --primary-foreground: var(--background);
  --secondary: #18aa99;
  --secondary-foreground: var(--background);
  --muted: --alpha(var(--foreground) / 5%);
  --muted-foreground: var(--foreground);
  --accent: #fcba03;
  --accent-foreground: var(--foreground);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-red-700);
  --info: var(--color-blue-500);
  --success: var(--color-emerald-500);
  --warning: var(--accent);
  --border: --alpha(var(--foreground) / 10%);
  --input: #d1e1ed;
  --ring: var(--accent);
}

html[data-theme="dark"] {
  --background: #00050a;
  --foreground: #d6e5f0;
  --popover: #00050a;
  --primary: #bbe0fa;
  --secondary: #55e7d6;
  --muted: --alpha(var(--foreground) / 10%);
  --accent: #fcba03;
  --accent-foreground: var(--background);
  --destructive: color-mix(
    in srgb,
    var(--color-red-500) 90%,
    var(--color-white)
  );
  --destructive-foreground: var(--color-red-400);
  --input: #1e2f3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--color-card: var(--card);*/
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@theme inline {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-mono: var(--font-fira), monospace;
  --font-caveat: var(--font-caveat), system-ui;
  --font-instrument: var(--font-instrument), system-ui;
}

@layer base {
  * {
    @apply border-border;
  }
}

@utility bg-card {
  background-image: var(--card);
}
