@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --text: #0f1e29;
  --background: #f5faff;
  --primary: #1e3f57;
  --secondary: #18aa99;
  --accent: #fcba03;
  --grid:
    linear-gradient(
      to left,
      color-mix(in oklab, currentcolor 10%, transparent) 1px,
      transparent 1px
    ),
    linear-gradient(
      to top,
      color-mix(in oklab, currentcolor 10%, transparent) 1px,
      transparent 1px
    );
}

html[data-theme="dark"] {
  --text: #d6e5f0;
  --background: #00050a;
  --primary: #a8c9e1;
  --secondary: #55e7d6;
  --accent: #fcba03;
}

@theme inline {
  --color-*: initial;
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@theme inline {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-mono: var(--font-fira), monospace;
  --font-caveat: var(--font-caveat), system-ui;
  --font-instrument: var(--font-instrument), system-ui;
  --font-overpass: var(--font-overpass), system-ui;
}
