@import "tailwindcss";

:root {
  --text: #0f1e29;
  --background: #f0f5f9;
  --primary: #1e3f57;
  --secondary: #18aa99;
  --accent: #fcba03;
}

.dark {
  --text: #d6e5f0;
  --background: #060b0f;
  --primary: #bbe3fa;
  --secondary: #55e7d6;
  --accent: #fcba03;
}

@theme inline {
  --color-*: initial;
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@theme inline {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-mono: var(--font-fira), monospace;
  --font-caveat: var(--font-caveat), system-ui;
  --font-instrument: var(--font-instrument), system-ui;
  --font-overpass: var(--font-overpass), system-ui;
}
